@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "poppins",  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
:root{
  --container-width-lg:75%;
  --container-width-md:86%%;
  --container-width-sm:90%;
  --transition:all 400ms ease;
}
.container{
  width:var(--container-width-lg);
  margin: 0 auto;
}
h1,h2,h3,h4,h5{
  font-weight: 500;
}
h1{
  font-size: 2.5rem;
}
section{
  margin-top: 5rem;
}
section>h2,section>h5{
  text-align: center;
}
section>h2{
  margin-bottom: 3rem;
}
a{
  transition: var(--transition);
  text-decoration: none;
}
a:hover{
  color:red;
}
img{
  display: block;
  width: 100%;
  object-fit: cover;
}

@media  screen and (max-width:1024px) {
  .container{
    max-width: var(--container-width-md);
  }
  section{
    margin-top: 4rem;
  }
}
@media  screen and (max-width:600px) {
  .container{
    max-width: var(--container-width-sm);
  }
  section>h2{
    margin-bottom: 2rem;
  }
}